.jumbotron {
  background-image: url("..//images/paku12200I9A4029.jpg");
  background-size: auto 60%;
  height: 900px;
}

.jumbotron2 {
  background-image: url("..//images/camera-g5a12044b7_1920.jpg");
  width: 100%;
  height: 900px;
}

